.root {
  @apply bg-smoky-black rounded-[10px] p-5 animate-enter;

  .header {
    @apply grid items-center py-3 px-5 font-bold;
    grid-template-columns: 30px 28% 1fr 1fr;

    & > *:last-child {
      @apply ml-auto h-10 w-[140px];
    }
  }

  .collections {
    @apply flex flex-col gap-y-2.5 mt-4;

    .row {
      @apply grid items-center py-3 px-5 bg-raisin-black;
      grid-template-columns: 30px 28% 1fr 1fr;

      .avatar {
        @apply flex items-center gap-x-2.5 font-bold;
        img {
          @apply rounded w-[60px] h-[60px];
          border: 1px solid rgba(245, 245, 245, 0.5);
        }
      }

      .address {
        @apply flex items-center;
        svg {
          @apply ml-2;
        }
      }

      .actions {
        @apply flex justify-end items-center gap-x-2;

        button {
          @apply bg-white/30 hover:bg-white/40 h-10 w-10;
        }
      }
    }
  }
}
