.root {
  @apply flex flex-col;

  .poolInfo {
    @apply px-5 py-6 bg-raisin-black grid;
    grid-template-columns: 13% 20% 15% 10% 12% 20% 10%;

    & > span {
      @apply flex items-center;
      & > svg {
        @apply ml-1.5;
      }
    }
    & > span:last-child {
      @apply justify-end;
    }

    .actions {
      @apply flex gap-2.5;
      button {
        @apply w-10 h-10 hover:bg-white/40;
      }
    }
  }
  .loanlist {
    @apply flex flex-col bg-raisin-black duration-150 animate-enter;

    .header {
      @apply px-5 py-2.5 bg-white/10 grid;
      grid-template-columns: 23% 10% 15% 10% 11% 16% 15%;

      div {
        span:first-child {
          @apply opacity-50;
        }

        span:last-child {
          @apply font-bold flex items-center gap-2;
        }
      }
    }

    .hr {
      @apply mx-6 bg-white/40 h-[1px];
    }
  }
}
